a, abbr, acronym, address, area, b, bdo, big, blockquote, body, button, caption, cite,
code, col, colgroup, dd, del, dfn, div, dl, dt, em, fieldset, form, h1,h2, h3, h4, h5, h6,
hr, html, i, img, ins, kbd, label, legend, li, map, object, ol, p, param, pre, q, samp, small,
span, strong, sub, sup, table, tbody, td, textarea, tfoot, th, thead, tr, tt, ul, var {
	margin: 0;
	padding: 0;
	border: none;
	outline: 0;
	vertical-align: baseline;
	background-color: transparent;
	text-decoration:none;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
