#searchResults, #collection, .tracklist {
	ul {
		list-style-type: none;
	    padding: 0;
	}

	ol {
		list-style-type: none;
	    padding: 0;
	}

    li {
    	background: #eee;
        border-bottom: 1px solid #ddd;
        border-top: 1px solid #fff;
        padding: 10px;

        a {
            display: block;
			overflow: hidden;

			> span {
				display: block;
				float: left;

				&.text {
					width: calc(100% - 60px);

					> span {
						display: block;
					}

					.subHeading {
						color: #666;
					}
				}

				&.image {
					width: 50px;
					padding-right: 10px;

		            img {
		                vertical-align: middle;
		            }
				}
			}
        }
    }
}
