@import 'reset';

#loadingMsg {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	background: #000;
	color: #fff;
	padding: 5px;
}

#searchBar {
    padding-bottom: 20px;
}



@import 'layout';
@import 'typography';
@import 'header';

.content { padding-bottom: 20px; overflow: hidden; }

.artwork, .format, .label { float: left; width: 160px; padding-right: 20px; clear: left; }
.artwork img { border: 1px solid #ccc; padding: 4px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }
.tracklist { float: right; width: 440px; }

.sidebar #tweetText { width: 100%; }

@import 'search';
@import 'release';
@import 'collection';

@import 'mq/small';
