#loadingMsg {
	display: none;
	position: fixed;
	top: 0;
	right: 0;
	background: #000;
	color: #fff;
	padding: 5px;
}

#trackOptionsDropdown {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	background: #fff;
	padding: 0 5px;
	border: 1px solid #aaa;
}

.flipContainer {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-o-perspective: 1000;
	perspective: 1000;
	height: 150px;
}

.flipContainer:hover .flipper, .flipContainer.flipped .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.flipContainer, .front, .back {
	width: 150px;
	height: 150px;
}

/* flip speed goes here */
.flipContainer .flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;

	-o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.flipContainer .front, .flipContainer .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.flipContainer .front {
	z-index: 2;
}

/* back, initially hidden pane */
.flipContainer .back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

#collection ul {
	list-style-type: none;
	overflow: hidden;
}

#collection li {
	float: left;
	width: 150px;
	padding: 10px;
	background: #eee;
	min-height: 300px;
}