<h2>{{=it.title}}</h2>

<h3>by 
{{~it.artists :artist}}
	{{=artist.name}} {{=artist.join}} 
{{~}}
</h3>

<div class="{{=it.imagesCssClass}}">
	<div class="flipper">
	{{~it.images :image}}
		<div class="{{=image.cssClass}}">
			<img src="{{=image.uri150}}" alt="{{=it.title}}" />
		</div>
	{{~}}
	</div>
</div>

<ol>
{{~it.tracklist :track}}
	<li>{{=track.title}} <a href="#" class="addToPlaylist">Add to playlist</a></li>
{{~}}
</ol>

<p>
{{~it.labels :label}}
	<span><a class="labelLink" href="{{=label.uri}}">Find more releases on {{=label.name}}</a></span>
{{~}}
</p>

