<!--<div class="{{=it.imagesCssClass}}">
	<div class="flipper">
	{{~it.images :image}}
		<div class="{{=image.cssClass}}">
			<img src="{{=image.uri150}}" alt="{{=it.title}}" />
		</div>
	{{~}}
	</div>
</div>-->

{{?it.images.length}}
	<div class="image">
		<img src="{{=it.images[0].uri}}" alt="{{=it.title}}" />
	</div>
{{?}}

<div class="text">
	<h2>{{=it.title}}</h2>

	<h3>by {{=it.artistName}}</h3>

	<div class="tracklist">
		<ol>
		{{~it.tracklist :track}}
			<li><strong>{{=track.position}}</strong> {{=track.title}} <button type="button" class="addToPlaylist">Add to playlist</button></li>
		{{~}}
		</ol>
	</div>

	<p>
	{{~it.labels :label}}
		<span><a class="labelLink" href="{{=label.uri}}">Find more releases on {{=label.name}}</a></span>
	{{~}}
	</p>	
</div>
