@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

    .inner {
        width: auto;
    }

    .column, .format, .label, .tracklist {
        width: auto;
        float: none;
    }

    .artwork {
        float: right;
        padding: 0 0 0 20px;
    }

    #logo {
        padding-left: 60px;
        a {
            font-size: 3.6em;
        }
    }

    .header {
        padding-bottom: 0;
    }

    nav {
        text-align: left;

        button {
            display: inline;
            font-size: 2.5em;
            font-weight: bold;
            color: #333;
            transform: rotate(90deg);
            position: absolute;
            top: 25px;
            left: 20px;
        }
        ul {
            display: none;
            margin: 0;
        }
        li {
            display: block;
            margin-left: 10px;
            margin-right: 10px;
            padding-bottom: 10px;
        }
    }

    #main {
        padding-left: 0;
        padding-right: 0;

        h1 {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

}
