@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {

    .inner {
        width: auto;
    }

    .column, .format, .label, .tracklist {
        width: auto;
        float: none;
    }

    .artwork {
        float: right;
        padding: 0 0 0 20px;
    }

    #logo {
        padding-left: 60px;
        a {
            font-size: 3.6em;
        }
    }

    #overlay {
        transition: opacity 0.25s ease;
        position: fixed;
        top: -9999px;
        left: -999px;
        width: 100%;
        height: 100%;
        background: #333;
        opacity: 0;
        .nav-open & {
            opacity: 0.75;
            top: 0;
            left: 0;
        }
    }

    .header {
        padding-bottom: 20px;
    }

    nav {
        transition: all 0.25s ease;
        text-align: left;
        position: fixed;
        top: 0;
        left: -75%;
        width: 75%;
        height: 100%;
        z-index: 1;
        background: #333;
        padding-top: 65px;
        .nav-open & {
            left: 0;
        }

        button {
            display: inline;
            font-size: 2.5em;
            font-weight: bold;
            color: #333;
            transform: rotate(90deg);
            position: fixed;
            top: 25px;
            left: 20px;
            .nav-open & {
                color: #fff;
            }
        }

        ul {
            margin: 0;
        }
        li {
            display: block;
            margin-left: 10px;
            margin-right: 10px;
            padding: 10px 7px;
        }
        a {
            color: #fff;
            text-shadow: none;
        }
    }

    #main {
        padding-left: 0;
        padding-right: 0;

        h1 {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

}
